.carousel{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 10px;

    img{
        width: 20rem;
        height: 15rem;
        border-radius: 19px;
        margin: 4px;
    }
    .image{
        position: relative;
    }
    .textover{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 1;
    }
    h2{
        margin-top: 1px;
        width: 15rem;
        color: white;
        text-shadow: 0 4px rgba(0, 0, 0, 0.8);

    }
    h3{
        color: white;
        text-align: center;
        width: 18rem;
        margin-top: 30px;
        text-shadow: 0 2px rgba(0, 0, 0, 0.8);

    }
}